<div class="conteiner">
    <div class="title">
        <h1>Хто ми</h1>
    </div>
    <div class="text">
        <p><span class="span1">Привіт</span>, ми студенти Черкаського Національного Університету імені Богдана Хмельницького, навчаємося на 3 курсі ННІ ІНФОТЕХу за спеціальностями “Прикладна фізика та наноматеріали” та “Фізика та астрономія”.</p>
        <div class="photo">
        </div>
        <p>В рамках однієї з тих дисциплін, що ми вивчаємо, нам випала можливість зайнятися власним проєктом по автоматизації.</p>
        <div class="photo2">
        </div>
        <p>Нашою ідеєю стало створити автоматизовану систему, яка дозволила б дистанційно моніторити стан нашої кімнати. І реалізацією цього стало “<span class="span2">Eco System Smart Home</span>”</p>
        <div class="photo3">
        </div>
        <p>Це невелика екосистема, яка включає в себе станцію для зняття показників на Arduino, контролера для відправки даних на Raspberry й невеличкий сайт з візуалізацією отриманих даних.</p>
        <div class="photo4-5">
            <div class="photo4">
            </div>
            <div class="photo5">
            </div>
        </div>
        <p>Реалізація проєкту здійснювалася під керівництвом директора ННІ ІНФОТЕХ Ляшенка Юрія Олексійовича.</p>
    </div>
</div>