.example-spacer {
  flex: 1 1 auto;
}
a {
  padding: 8px;
  color: white;
  text-decoration: none;
  &:hover
  {
    text-decoration: underline;
    text-shadow: 0 0 2px white;
  }
}

.pr0
{
  padding-right: 0;
}

.my-toolbar
{
  padding-bottom: 24px;
}