<div class="conteiner">
  <div class="title">
    <h1>Рекомендації щодо правильного провітрювання кімнати</h1>
  </div>
  <div class="photo"> 
  </div>
  <div class="list">
    <ul>
      <li>Не тільки взимку і влітку, але також навесні і восени слід дотримуватися такого температурного режиму при знаходженні мешканців у приміщеннях: у вітальні, дитячій і на кухні 20°С, у ванній кімнаті 21°С, вночі в спальні 14°С. Запам'ятайте: чим холодніше кімната, тим частіше потрібно її провітрювати.</li>
      <li>Не можна повністю відключати опалення, навіть в момент Вашої відсутності вдома. Постійне повне охолодження і подальше стрімке нагрівання приміщень обходиться дорожче, ніж збереження постійного зниженого температурного режиму.</li>
      <li>Внутрішні двері між приміщеннями, що мають різну температуру, слід вдень і вночі тримати закритими.</li>
      <li>Не опалюйте спальню за допомогою прилеглої до неї вітальні! До неопалювальної спальні надходить тільки тепле, насичене вологою, повітря, яке в холодному приміщенні віддає свою вологу.</li>
      <li>Правильне провітрювання – це коли вікна на короткий час іноді всього на 5 хвилин повністю відкриті (наскрізне провітрювання). Просто залишити вікно відкритим «для провітрювання» не має ніякого ефекту крім порожньої розтрати опалювальної енергії.</li>
      <li>Вранці квартиру необхідно повністю провітрити. Найкраще організувати протяг або ж по черзі відкрити вікна в кожній кімнаті.</li>
      <li>Мінімальний час провітрювання залежить від різниці температур зовні і всередині, від пори року і наявності або відсутності вітру.</li>
      <li>Навіть за відсутності вітру і мінімальної різниці температур досить повністю відкрити вікна на 15 хвилин.</li>
      <li>Чим холодніше на вулиці тим коротше провітрювання.</li>
      <li>Провітрювати приміщення один раз на день недостатньо. До обіду і після обіду необхідно знову провітрити кімнати, в яких знаходилися люди. Увечері також необхідне повне провітрювання, включаючи спальні.</li>
      <li>Не можна провітрювати з однієї кімнати в іншу, а завжди тільки ззовні.</li>
      <li>У розташованих усередині квартири ванних кімнатах без вікон необхідно провітрювати по найкоротшому шляху (через іншу кімнату) назовні. При цьому слід закрити всі двері в інші кімнати. Особливо після купання або прийняття душу слід уникати рівномірного розподілу водяної пари по всій квартирі.</li>
      <li>Велика кількість водяної пари (наприклад, яка виникає під час приготування їжі) необхідно по можливості відразу вивітрювати назовні. В даному випадку слід за допомогою закритих дверей уникати поширення пара по всій квартирі.</li>
      <li>Якщо необхідно сушити білизну в одній з кімнат через відсутність сушильної кімнати, то цю кімнату необхідно провітрювати ще частіше. Двері цієї кімнати повинні бути завжди закриті.</li>
      <li>Після прасування необхідно провітрювати приміщення, в якому прасували білизну.</li>
      <li>Провітрювати необхідно також при дощовій погоді. Якщо у вікно не прямо б'є дощова вода, то провітрювання буде мати позитивний ефект, тому як прохолодне повітря зовні все одно сухіше, ніж тепле повітря всередині.</li>
      <li>Зволожувачі повітря практично завжди є абсолютно непотрібним надлишком.</li>
      <li>За відсутності мешканців в квартирі протягом дня провітрювати, зрозуміло, не потрібно. Досить добре провітрити приміщення вранці та ввечері.</li>
      <li>За наявності нових, герметичних і ізольованих вікон необхідно провітрювати частіше, ніж це було необхідно раніше. У цьому випадку все одно економиться енергія в порівнянні з квартирами зі старими вікнами.</li>
      <li>Великі шафи не повинні бути дуже щільно присунуті до критичних стін. Краще ставити їх на відстані 2-4 см від стіни.</li>
    </ul>
  </div>
</div>