<div class="graphs">
  <google-chart *ngIf="dataTemperature" #chart
                [title]="titleTemperature"
                [type]="type"
                [data]="dataTemperature"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataHumidity" #chart
                [title]="titleHumidity"
                [type]="type"
                [data]="dataHumidity"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataPressure" #chart
                [title]="titlePressure"
                [type]="type"
                [data]="dataPressure"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataLuminosity" #chart
                [title]="titleLuminosity"
                [type]="type"
                [data]="dataLuminosity"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>
</div>
