<div class="graphs">
  <div class="error" *ngIf="dataTemperature.length == 0">
    Дані за вказаний період відсутні
  </div>
  <google-chart *ngIf="dataTemperature"
                [title]="titleTemperature"
                [type]="type"
                [data]="dataTemperature"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataHumidity"
                [title]="titleHumidity"
                [type]="type"
                [data]="dataHumidity"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataPressure"
                [title]="titlePressure"
                [type]="type"
                [data]="dataPressure"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataLuminosity" #chart
                [title]="titleLuminosity"
                [type]="type"
                [data]="dataLuminosity"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>
</div>
