<div class="graphs"  *ngIf="dataTemperature">
  <div class="error" *ngIf="dataTemperature.length == 0">
    Дані за вказаний період відсутні
  </div>
  <google-chart *ngIf="dataTemperature.length > 0"
                [title]="titleTemperature"
                [type]="type"
                [data]="dataTemperature"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataHumidity.length > 0"
                [title]="titleHumidity"
                [type]="type"
                [data]="dataHumidity"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataPressure.length > 0"
                [title]="titlePressure"
                [type]="type"
                [data]="dataPressure"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>

  <google-chart *ngIf="dataLuminosity.length > 0" #chart
                [title]="titleLuminosity"
                [type]="type"
                [data]="dataLuminosity"
                [options]="options"
                [width]="width"
                [height]="height">
  </google-chart>
</div>


<div class="error" *ngIf="!dataTemperature">
  Не вдалось завантажити дані
</div>
