<div class="all">
  <div class="conteiner">

    <mat-card>
      <mat-card-title>Остання виміряна температура:</mat-card-title>
      <mat-card-subtitle>{{roomInfo?.temperature}}°C</mat-card-subtitle>
    </mat-card>

    <mat-card>
      <mat-card-title>Остання виміряна вологість:</mat-card-title>
      <mat-card-subtitle>{{roomInfo?.humidity}}%</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>Останній виміряний тиск:</mat-card-title>
      <mat-card-subtitle>{{roomInfo?.pressure}} гПа</mat-card-subtitle>
    </mat-card>

    <mat-card>
      <mat-card-title>Остання виміряна освітленість:</mat-card-title>
      <mat-card-subtitle>{{roomInfo?.luminosity}} лк</mat-card-subtitle>
    </mat-card>
  </div>
  <footer>
    <p>E-Mail: <a href="mailto:ecosystemsmarthome@gmail.com">ecosystemsmarthome@gmail.com</a></p>
  </footer>
</div>

<mat-tab-group mat-align-tabs="center"> #tabRef>
  <mat-tab label="Tab 2">Content 2</mat-tab>
  <mat-tab label="Cтатистика за минулі 7 днів"><app-room-state-chart [api]='GetRoomStatisticByWeek'></app-room-state-chart></mat-tab>
  <mat-tab label="Статистика за поточний місяць"><app-room-state-chart [api]='GetRoomStatisticByCurrentMonth'></app-room-state-chart></mat-tab>
</mat-tab-group>
