<mat-card>
  <mat-card-title>Temperature:</mat-card-title>
  <mat-card-subtitle>{{roomInfo?.temperature}}</mat-card-subtitle>
</mat-card>
<br>
<mat-card>
  <mat-card-title>Humidity:</mat-card-title>
  <mat-card-subtitle>{{roomInfo?.humidity}}</mat-card-subtitle>
</mat-card>

<google-chart *ngIf="data" #chart
              [title]="title"
              [type]="type"
              [data]="data"
              [options]="options"
              [width]="width"
              [height]="height">
</google-chart>
